<head>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<div class="wrapper-contact">
    <p>
        ¡Hola! para comunicarte conmigo puedes escribirme un mensaje
        a mi cuenta personal <b>KKRAKENBREAKER@GMAIL.COM</b> 
        <br>
        <br>
        <b>Att. Admin</b>
    </p>
</div>