<head>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<div class="wrapper-contact">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo ullam sunt deserunt et earum. Inventore maxime
        quis a eveniet fugiat?
    </p>
</div>