<head>
    <link rel="stylesheet" href="/stylesheets/loader.css">
</head>

<div class="wrapper-loader" id="loader">
    <span style="--i:1"></span>
    <span style="--i:2"></span>
    <span style="--i:3"></span>
    <span style="--i:4"></span>
</div>

<script src="/javascripts/loader.js"></script>