<head>
    <link rel="stylesheet" href="/stylesheets/message.css">
</head>
<div class="wrapper-message">
    <div class="content">
        <h3 id="message-content">Lorem, ipsum dolor sit amet consectetur adipisicing.</h3>
    </div>
</div>

<script src="/javascripts/message.js"></script>