<head>
    <link rel="stylesheet" href="/stylesheets/modal.css">
</head>

<div class="wrapper-modal" id="modal">
    <a href="#close"><i class="fa fa-times" aria-hidden="true"></i></a>
    <div class="content">
        
    </div>
</div>

<script src="/javascripts/modal.js"></script>