<head>
    <link rel="stylesheet" href="/stylesheets/lupa.css">
</head>
<div class="l_wrapper">
    <form action="" method="get" class="l_formulario">
        <input type="search" placeholder="Buscar autor o cards">
        <span></span>
    </form>
</div>
<script src="/javascripts/MySearch.js"></script>