<head>
        <link rel="stylesheet" href="/stylesheets/compartir.css"/>
</head>
<div class="c_wrapper">
    <div class="mshare" id="mshare" style="--i:1">
        <a href="#facebook" style="--i:1" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#twitter" style="--i:2" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#instagram" style="--i:3" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#link" style="--i:4" target="_blank" data-me="copiar" ><i class="fa fa-link" aria-hidden="true" data-me="copiar"></i></a>
    </div>
    <a href="#share" class="btn-share" id="btn-share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
</div>
<script src="/javascripts/MyShare.js"></script>