<head>
    <link rel="stylesheet" href="/stylesheets/pagination.css">
</head>
<div class="wrapper-pagination">
    <nav id="content-pagination">
        {{#each part.pages}}
            <a href="{{this}}">{{this}}</a>
        {{/each}}
    </nav>
</div>