<head>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/images.css">
</head>
<div class="wrapper-profile">
    <nav id="btn-profile">
        <a href="myprofile">Mi perfil</a>
        <a href="editprofile">Editar perfil</a>
        <a href="mygalery">Mis imagenes</a>
        <a href="privacity">Privacidad</a>
    </nav>
    <div class="content" id="profile-content">
        <span>
            <h1>resultados</h1>
                <h3>privacidad</h3>
                <form id="form-image" act="insert">
                    <label for="new-imagen">nueva imagen</label>
                    <input type="file" name="image" id="new-imagen" accept="image/jpeg, image/jpg, image/png" placeholder="agregar imagen">
                </form>
        </span>
        <div>
        </div>
    </div>
</div>