<head>
    <link rel="stylesheet" href="/stylesheets/cards.css">
    <link rel="stylesheet" href="/stylesheets/listCards.css">
</head>
{{> navigator}}
{{> MyShare}}
{{> MySearch}}
{{> loader}}
{{> message}}
{{> modal}}
<div class="title-position" id="title-position">INICIO</div>
<a href="#modal" id="btn-agregar" class="agregate">Agregar</a>
<div class="wrapper-content-load" id="content-load">
</div>

<script src="/javascripts/inicio.js"></script>

<script src="/javascripts/pagination.js"></script>
<script src="/javascripts/cards.js"></script>
<script src="/javascripts/listCards.js"></script>
<script src="/javascripts/images.js"></script>
<script src="/javascripts/formCards.js"></script>
<script src="/javascripts/profile.js"></script>
<script src="/javascripts/formUser.js"></script>