.wrapper-form{
    position: relative;
    height: 500px;
    width: 350px;
}
.form{
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    position: relative;
}
.form>.password{
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.form>span{
    width: 100%;
    position: relative;
    display: inline-block;
    z-index: 2;
    display: flex;
}
.form>.password>a{
    color:#d20101;
    text-decoration: none;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 3px;
    font-size: 23px;
    transform: translateY(-50%);
}
.form::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 420px;
    height: 500px;
    background: linear-gradient(-110deg, #d20101, #000000);
    border-radius: 50%;
    left: -35px;
    top: -120px;
    z-index: 1;
}
.form input{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    border-width: 0;
    text-align: center;
    font-size: 18px;
    color: #ff0101;
    z-index: 2;
}
.form input[type="submit"]{
    color: #ff5959;
    background: linear-gradient(180deg, #db70ff 70%, #9b1eb0);
    background: transparent;
    box-sizing: border-box;
    border-radius: 1;
    border: 4px solid #ff5959;
}
.form input[type="submit"]:hover{
    font-size: 20px;
}
.form h2{
    color: white;
    margin: 0;
    z-index: 1;
}
.form textarea{
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
    z-index: 2;
    border-radius: 10px;
    color: #9c27b0;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
}
.form>ul>li>p{
    display: inline;
    color:white;
    margin: 0;
    font-size: 10px;
}
.form>ul{
    list-style-type: none;
    z-index: 2;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;
}
.form>ul>li{
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: space-between;
}
.form>ul>li>a{
    color:white;
}
.form>span>input{
    height: 50px;
    font-size: 13px;
}
.form>span>input[type="button"]{
    width: 70px;
    border-radius: 10px;
}
.form>span>select{
    border-radius: 10px;
    color:#9C27B0;
}