div.wrapper-images{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 5px solid black;
    position: relative;
    margin: 10px;
}
div.wrapper-images>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
div.wrapper-images>a{
    color: white;
    display: inline-block;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
}