<head>
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>
<div class="wrapper-form">
    <form act="insert" id="form-user" class="form">
        <h2>Usuarios</h2>
        <input type="text" name="user" placeholder="INGRESE USUARIO" required>
        <span class="password">
            <input type="password" name="password" placeholder="INGRESE CONTRASEÑA" required>
            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
        </span>
        <span class="password">
            <input type="password" name="repeat" placeholder="CONFIRME LA CONTRASEÑA" required>
            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
        </span>
        <input type="text" name="fullname", placeholder="INGRESE NOMBRE COMPLETO" required>
        <input type="submit" value="Guardar">
    </form>
</div>